@import "reset", "font", "variable";

.section_certified {
  max-width: 1920px;
  height: auto;
  position: relative;
  .certified_wrap {
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: -100vh;
      left: 0;
      background-color: $light-gray;
      z-index: -1;
    }
    .certified01 {
      background-color: $dark-black;
      height: 100vh;
      max-width: 1920px;
      .certified01_in {
        height: inherit;
        padding-left: 13.3rem;
        overflow: hidden;
        position: relative;
        .certified01_text {
          color: $white;
          padding-top: 11rem;
          h2 {
            font-size: $h2;
            font-weight: 300;
            line-height: 85px;
            margin-bottom: 1rem;
            font-family: $logo-font;
          }
          h4 {
            font-size: $strong;
            color: $dim-darkgray;
            font-weight: $bold;
            margin-top: 2rem;
            line-height: 1.4;
          }
          a {
            padding: 0.7rem 1.5rem;
            text-decoration: none;
            color: #ececec;
            font-weight: $medium;
            background-color: $light-black;
            position: relative;
            top: 50px;
            border-radius: 5px;
            font-size: 15px;
            transition: 0.7s;
            &:hover {
              background-color: $light-gray;
              color: $black;
            }
          }
        }
        .certified01_img {
          position: absolute;
          top: 350px;
          left: 950px;
          svg {
            width: 1200px;
            g {
              position: absolute;
            }
            .st0 {
              fill: none;
              stroke: #656565;
              stroke-linecap: round;
              stroke-miterlimit: 6;
              transition: 0.8s;
            }

            .st1 {
              fill: #939598;
            }

            .st2 {
              fill: #c2c2c2;
            }

            .st3 {
              fill: #656666;
            }

            .st4 {
              fill: none;
              stroke: #656565;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: 0.0996, 1.9922;
            }

            .st5 {
              fill: none;
              stroke: #58595b;
              stroke-width: 15;
              stroke-miterlimit: 10;
            }

            .st6 {
              fill: #aaabab;
            }

            .st7 {
              fill: none;
              stroke: #656565;
              stroke-linecap: round;
              stroke-miterlimit: 10;
              display: none;
            }

            @keyframes draw {
              to {
                stroke-dashoffset: 0;
                /* stroke-dashoffset을 0으로 설정하여 선을 그림 */
              }
            }
            .carInside path,
            .carInside line,
            .carInside circle {
              transition: opacity 1s, width 1s;
            }
          }
          .wheel01 {
            top: 180px;
            left: 175px;
            position: absolute;
            width: 180px;
            height: 180px;
            background-color: transparent;
            animation: moveto 3s linear infinite;
            opacity: 30%;
          }
          .wheel02 {
            left: 872px;
            top: 180px;
            position: absolute;
            width: 180px;
            height: 180px;
            background-color: transparent;
            animation: moveto 3s linear infinite;
            opacity: 30%;
          }
          @keyframes moveto {
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
    .certified02 {
      max-width: 1920px;
      height: 100vh;
      background-color: $black;
      .certified02_inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .certified02_img {
          width: 50%;
          height: 100%;
          background: url(../img/section_certified02~04/certified02.jpg)
            no-repeat;
          background-size: cover;
          background-position: center;
        }
        .certified02_text {
          width: 50%;
          padding: 8.3rem 0;
          color: $white;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .service {
            text-align: right;
            position: relative;
            h2 {
              font-size: $h3;
              font-weight: $bold;
              letter-spacing: -0.1rem;
              position: relative;
              padding-right: 9.4rem;
              &::after {
                content: "";
                width: 630px;
                height: 3px;
                background-color: $white;
                display: block;
                position: absolute;
                right: 0;
                bottom: -20px;
              }
            }
          }
          .certified02_text_in {
            position: relative;
            padding-left: 5.5rem;
            .certified02_text_top {
              width: 500px;
              h3 {
                font-size: $h5;
                font-weight: $bold;
              }
              p {
                font-size: $strong;
                line-height: 1.3;
                margin-top: 0.5rem;
              }
            }
            .certified02_text_bottom {
              width: 500px;
              margin-top: 1.5rem;
              h3 {
                font-size: $h5;
                font-weight: $bold;
              }
              p {
                font-size: $strong;
                line-height: 1.3;
                margin-top: 0.5rem;
              }
            }
          }
        }
      }
    }
    .certified03 {
      max-width: 1920px;
      height: 100vh;
      background-color: $black;
      .certified03_inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .certified03_text {
          width: 50%;
          padding: 8.3rem 0;
          color: $white;
          .certified03_text_in {
            height: 100%;
            padding-left: 10rem;
            padding-top: 22.6rem;
            .certified03_text_top {
              width: 500px;
              h3 {
                font-size: $h5;
                font-weight: $bold;
              }
              p {
                font-size: $strong;
                line-height: 1.3;
                margin-top: 0.5rem;
              }
            }
            .certified03_text_bottom {
              width: 500px;
              margin-top: 1.5rem;
              h3 {
                font-size: $h5;
                font-weight: $bold;
              }
              p {
                font-size: $strong;
                line-height: 1.3;
                margin-top: 0.5rem;
              }
            }
          }
        }
        .certified03_img {
          width: 50%;
          background: url(../img/section_certified02~04/certified_04.PNG)
            no-repeat;
          background-position: center;
          background-size: cover;
        }
      }
    }
    .certified04 {
      max-width: 1920px;
      height: 100vh;
      background-color: $black;
      .certified04_inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .certified04_img {
          width: 50%;
          height: 100%;
          background: url(../img/section_certified02~04/certified04.jpg)
            no-repeat;
          background-size: cover;
          background-position: center;
        }
        .certified04_text {
          width: 50%;
          padding: 8.3rem 0;
          color: $white;
          .certified04_text_in {
            height: 100%;
            padding-left: 5.5rem;
            padding-top: 22rem;
            .certified04_text_top {
              width: 500px;
              h3 {
                font-size: $h5;
                font-weight: $bold;
                margin-bottom: 5px;
              }
              p {
                font-size: $strong;
                line-height: 1.3;
                margin-top: 0.5rem;
              }
            }
            .certified04_text_bottom {
              width: 500px;
              margin-top: 1.5rem;
              h3 {
                font-size: $h5;
                font-weight: $bold;
              }
              p {
                font-size: $strong;
                line-height: 1.3;
                margin-top: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
