@import "reset", "variable", "font";

.section_process {
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  padding: 140px 0;
  box-sizing: border-box;
  background: url(../img/section_process/process_BG.svg) no-repeat;
  color: $white;
  background-size: inherit;
  .section_process_in {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    .process_title {
      text-align: right;
      padding: 0 170px;

      h3 {
        font-family: $logo-font;
        font-size: $card-bold;
      }
      h2 {
        font-size: $h3;
        font-weight: $bold;
        margin-top: 1.5rem;
      }
    }
    .process_items_wrap {
      box-sizing: border-box;
      text-align: center;
      position: relative;
      #process_line {
        max-width: 1920px;
        width: 100%;
        .process_ani {
          animation: process_ani linear 8s infinite;
          @keyframes process_ani {
            0% {
              cx: -50px;
              cy: 11px;
            }

            10% {
              cx: 223px;
              cy: 11px;
            }

            20% {
              cx: 418px;
              cy: 11px;
            }

            30% {
              cx: 510px;
              cy: 150px;
            }

            35% {
              cx: 648px;
              cy: 231px;
            }

            45% {
              cx: 843px;
              cy: 231px;
            }

            55% {
              cx: 1038px;
              cy: 231px;
            }

            65% {
              cx: 1100px;
              cy: 351px;
            }

            70% {
              cx: 1250px;
              cy: 450px;
            }

            80% {
              cx: 1445px;
              cy: 450px;
            }

            90% {
              cx: 1640px;
              cy: 450px;
            }

            100% {
              cx: 1950px;
              cy: 450px;
            }
          }
        }
      }
      #process_responsive {
        display: none;
      }
      .process_item {
        width: 128px;
        height: 140px;
        background: url(../img/section_process/iconBox.svg) no-repeat;
        background-size: cover;
        padding: 1.5rem 0;
        box-sizing: border-box;
        position: absolute;
        p {
          font-size: $p;
          font-weight: $bold;
          letter-spacing: -0.05rem;
          margin-top: 0.8rem;
        }
      }
      .item {
        &01 {
          bottom: 103%;
          left: 160px;
          animation: process_item01 linear 8s infinite;
          @keyframes process_item01 {
            0% {
              transform: scale(1);
            }

            15% {
              transform: scale(1.05);
            }

            25% {
              transform: scale(1);
            }

            30% {
              transform: scale(1);
            }

            35% {
              transform: scale(1);
            }

            45% {
              transform: scale(1);
            }

            55% {
              transform: scale(1);
            }

            65% {
              transform: scale(1);
            }

            70% {
              transform: scale(1);
            }

            80% {
              transform: scale(1);
            }

            90% {
              transform: scale(1);
            }

            100% {
              transform: scale(1);
            }
          }
        }
        &02 {
          bottom: 103%;
          left: 355px;
          animation: process_item02 linear 8s infinite;
          @keyframes process_item02 {
            0% {
              transform: scale(1);
            }

            15% {
              transform: scale(1);
            }

            25% {
              transform: scale(1.05);
            }

            30% {
              transform: scale(1);
            }

            35% {
              transform: scale(1);
            }

            45% {
              transform: scale(1);
            }

            55% {
              transform: scale(1);
            }

            65% {
              transform: scale(1);
            }

            70% {
              transform: scale(1);
            }

            80% {
              transform: scale(1);
            }

            90% {
              transform: scale(1);
            }

            100% {
              transform: scale(1);
            }
          }
        }
        &03 {
          bottom: 55%;
          left: 585px;
          animation: process_item03 linear 8s infinite;
          @keyframes process_item03 {
            0% {
              transform: scale(1);
            }

            15% {
              transform: scale(1);
            }

            25% {
              transform: scale(1);
            }

            30% {
              transform: scale(1);
            }

            35% {
              transform: scale(1.05);
            }

            45% {
              transform: scale(1);
            }

            55% {
              transform: scale(1);
            }

            65% {
              transform: scale(1);
            }

            70% {
              transform: scale(1);
            }

            80% {
              transform: scale(1);
            }

            90% {
              transform: scale(1);
            }

            100% {
              transform: scale(1);
            }
          }
        }
        &04 {
          bottom: 55%;
          left: 777px;
          animation: process_item04 linear 8s infinite;
          @keyframes process_item04 {
            0% {
              transform: scale(1);
            }

            15% {
              transform: scale(1);
            }

            25% {
              transform: scale(1);
            }

            30% {
              transform: scale(1);
            }

            35% {
              transform: scale(1);
            }

            45% {
              transform: scale(1.05);
            }

            55% {
              transform: scale(1);
            }

            65% {
              transform: scale(1);
            }

            70% {
              transform: scale(1);
            }

            80% {
              transform: scale(1);
            }

            90% {
              transform: scale(1);
            }

            100% {
              transform: scale(1);
            }
          }
        }
        &05 {
          bottom: 55%;
          left: 975px;
          animation: process_item05 linear 8s infinite;
          @keyframes process_item05 {
            0% {
              transform: scale(1);
            }

            15% {
              transform: scale(1);
            }

            25% {
              transform: scale(1);
            }

            30% {
              transform: scale(1);
            }

            45% {
              transform: scale(1);
            }

            50% {
              transform: scale(1.05);
            }

            55% {
              transform: scale(1);
            }

            65% {
              transform: scale(1);
            }

            70% {
              transform: scale(1);
            }

            80% {
              transform: scale(1);
            }

            90% {
              transform: scale(1);
            }

            100% {
              transform: scale(1);
            }
          }
        }
        &06 {
          bottom: 8%;
          left: 1185px;
          animation: process_item06 linear 8s infinite;
          @keyframes process_item06 {
            0% {
              transform: scale(1);
            }

            15% {
              transform: scale(1);
            }

            25% {
              transform: scale(1);
            }

            30% {
              transform: scale(1);
            }

            35% {
              transform: scale(1);
            }

            50% {
              transform: scale(1);
            }

            65% {
              transform: scale(1);
            }

            70% {
              transform: scale(1.05);
            }

            80% {
              transform: scale(1);
            }

            90% {
              transform: scale(1);
            }

            100% {
              transform: scale(1);
            }
          }
        }
        &07 {
          bottom: 8%;
          left: 1380px;
          animation: process_item07 linear 8s infinite;
          @keyframes process_item07 {
            0% {
              transform: scale(1);
            }

            15% {
              transform: scale(1);
            }

            25% {
              transform: scale(1);
            }

            30% {
              transform: scale(1);
            }

            35% {
              transform: scale(1);
            }

            50% {
              transform: scale(1);
            }

            55% {
              transform: scale(1);
            }

            65% {
              transform: scale(1);
            }

            70% {
              transform: scale(1);
            }

            80% {
              transform: scale(1.05);
            }

            90% {
              transform: scale(1);
            }

            100% {
              transform: scale(1);
            }
          }
        }
        &08 {
          bottom: 8%;
          left: 1575px;
          animation: process_item08 linear 8s infinite;
          @keyframes process_item08 {
            0% {
              transform: scale(1);
            }

            15% {
              transform: scale(1);
            }

            25% {
              transform: scale(1);
            }

            30% {
              transform: scale(1);
            }

            35% {
              transform: scale(1);
            }

            50% {
              transform: scale(1);
            }

            55% {
              transform: scale(1);
            }

            65% {
              transform: scale(1);
            }

            70% {
              transform: scale(1);
            }

            80% {
              transform: scale(1);
            }

            90% {
              transform: scale(1.05);
            }

            100% {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
