/*Font Family*/
$primary-font: "Gothic A1";
$logo-font: "Inria Serif";

/*Font Size*/
$h2: 4.45rem;
$h3: 2.5rem;
$logo-h3: 2.2rem;
$h4: 1.95rem;
$card-bold: 1.65rem;
$h5: 1.4rem;
$strong: 1.1rem;
$p: 1rem;
$h6: 0.9rem;
$small: 0.78rem;

/*Font Weight*/
$bold: 700;
$medium: 500;
$regular: 400;

/* Setting Variables : Object Color */
$black: #000;
$dark-black: #191919;
$dark-gray: #525252;
$gradient: linear-gradient(#373737, #373737 0%);
$light-gray: #e1e1e1;
$dark-green: #01252a;
$blue-green: #045762;
$turquoise: #16a2b5;
$dark-clouds: #8fa7bd;
$pale-green: #cad6d8;

/* Setting Variables : Text Color */
$dim-black: #333;
$light-black: #404040;
$dim-darkgray: #5f5f5f;
$gray: #8c8c8c;
$pale-gray: #9f9f9f;
$white: #fff;
